<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My booklist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <h2>Add a new book</h2>

    <form th:action="@{/save}" th:object="${book}" method="post" class="col.md.6">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" th:field="*{title}" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                Invalid title
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" th:field="*{author}" class="form-control"
                   th:classappend="${#fields.hasErrors('author')} ? 'is-invalid' : ''"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
                Invalid input
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Genre</label>
            <input type="text" th:field="*{genre}" class="form-control"
                   th:classappend="${#fields.hasErrors('genre')} ? 'is-invalid' : ''"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">
                Invalid input
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Era</label>
            <input type="text" th:field="*{era}" class="form-control"
                   th:classappend="${#fields.hasErrors('era')} ? 'is-invalid' : ''"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('era')}" th:errors="*{era}">
                Invalid input
            </div>
        </div>

        <div class="mb-3">
            <label for="publishDate" class="form-label">Publication date</label>
            <input type="date"
                   id="publishDate"
                   th:field="*{publishDate}"
                   class="form-control"
                   min="0001-01-01"
                   th:max="${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}" />

            <div th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}" class="text-danger mt-1"></div>
        </div>

        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN-nummer</label>
            <input type="text" th:field="*{isbn}" class="form-control" id="isbn"
                   placeholder="t.ex. 9781234567890" />

            <div class="form-text">ISBN ska bestå av 10 eller 13 siffror.</div>

            <div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea th:field="*{description}" class="form-control" rows="4"
                      placeholder="Enter book description"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></div>
        </div>

        <button type="submit" class="btn btn-success">Save book</button>
        <a href="/" class="btn class-secondary">Cancel</a>
    </form>

</body>
</html>